*{
    margin: 0px;
    padding: 0px;
}

header h1{
    font-family: Arial;
    background-color: royalblue;
    color: white;
}
/*menu ngang*/
#menu{
    height: 30px;
    width: 400px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    color: darkslategrey;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover{
    background-color: lightgray;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}

/*menu dọc------------------------------------------------------------------------------------*/

#menus, #menus ul, #menus li{
    padding:0;
    margin:0;
}

#menus li{
    list-style: none;
    position: relative;
    width:300px;
    height: 30px;
    padding:0 20px;
    background-color: whitesmoke;
    line-height: 30px;
    cursor:pointer;
}

#menus li a{
    width: 200px;
    text-decoration:none;
    color: black;
}

#menus li:hover{
    background-color:lightgray;
}

#menus ul ul{
    position: absolute;
    top:0px;
    left:190px;
    visibility:hidden;
}

#menus ul li:hover ul{
    visibility:visible;
}