header h1{
    font-family: "Brush Script MT";
    color: pink;
    background-color: dimgrey;
    height: 76px;
    text-align: center;
    font-size: 52px;
}
*{
    margin: 0;
    padding: 0;
}
nav ul li{
    width: 200px;
    padding: 20px;
    list-style-type: none;
    display: inline;
    margin: 5px;
}

header, footer{
    padding: 10px;
    color: white;
    background-color: black;
}
section{
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}
article{
    margin: 5px;
    padding: 10px;
    background-color: white;
}
